html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #2c3e50;
  width: 100%;
  height: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 76px;
    padding: 0px;
    color: white;
    background-color: #411c03;
    background-image:
        linear-gradient(45deg, #7e5025 25%, transparent 25%),
        linear-gradient(-45deg, #7e5025 25%, transparent 25%),
        linear-gradient(135deg, #7e5025 25%, transparent 25%),
        linear-gradient(-135deg, #7e5025 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    box-shadow: 0 0 5px 0 #333333;
  }

.fixed {
    z-index: 5000;
    color:black;
    height: 30px;
}

.fixed .header {
    height: 30px;
    padding:0;
}

header.fixed a {
    color:black;
}

header h1 {
    font-family: "Charm", "Arial", serif;
    color: rgba(239, 205, 177, 0.6);
    text-shadow: 3px 3px 3px #333333;
}

header.fixed .logo {
    display:none;
}

header .logo-small {
    width:65px;
    height:40px;
    position:relative;
    display:none;
}

header.fixed .logo-small {
    display:block;
}

header.fixed .main-nav h1 {
    font-size:20px;
}

header.fixed .main-nav li:nth-child(4) {
    top:0px;
    width:280px;
}

header.fixed .main-nav {
    top:-5px;
}

.logo {
    position:relative;
}

.logo img {
    position: absolute;
    width:130px;
    height:80px;
    top:-70px;
    left: 50px;
    box-shadow: 0 0 5px 0 #333333;
}

.logo-small img {
    position: absolute;
    width:65px;
    height:40px;
    top:-20px;
    left: 50px;
    box-shadow: 0 0 5px 0 #333333;
}

.header {
    background: url(img/header.jpg) repeat #919191;
    background-blend-mode: multiply;
    padding: 20px;
    padding-bottom:0;
}

.main-nav {
    list-style: none;
    text-decoration: none;
    text-shadow: 3px 3px 3px #333333;
    text-align: center;
    position:relative;
    top:10px;
}

.main-nav a {
    color: rgba(239, 205, 177, 0.6);
    font-size: 25px;
}

.main-nav a:hover {
    color: rgba(235, 197, 148, 0.9);
}

.main-nav li {
    display:inline-block;
    padding-right:20px;
}

.main-nav li:nth-child(4) {
    position: relative;
    top:-20px;
    width:280px;
}

main {
    min-height: 50px;
    padding-top: 5px; 
    box-shadow: 0 0 5px #cccccc;
    background: url("img/handi.jpg") fixed no-repeat #dad8d8 50% 50%;
    background-blend-mode: multiply;
    background-size: cover;
}

.cool {
   width: 100%;
   height: auto;
   margin-top:10px;
}
.carousel {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.catalog {
    width:100%;
    background-color: rgba(235, 197, 148, 0.7);
    padding:50px 50px;
}

.catalog > div {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border: 2px solid rgba(235, 197, 148, 0.7);
    border-radius: 20px;
    padding:20px 40px;
}

.catalog > div h2 {
    width:100%;
    text-align: center;
}

.catalog-item {
    margin:20px;
}
footer {
    width: 100%;
    z-index: 5;
    height: 76px;
    padding: 0px;
    color: white;
    background-color: #411c03;
    background-image:
        linear-gradient(45deg, #7e5025 25%, transparent 25%),
        linear-gradient(-45deg, #7e5025 25%, transparent 25%),
        linear-gradient(135deg, #7e5025 25%, transparent 25%),
        linear-gradient(-135deg, #7e5025 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    box-shadow: 0 0 5px 0 #333333;
  }
  
.footer {
    display:block;
    width:100%;
    background: url(img/header.jpg) repeat #919191;
    background-blend-mode: multiply;
    padding: 20px;
}
